---
import { Image } from 'astro:assets';
import headshotImage from '../images/headshot.jpeg';
import RootLayout from '../layouts/RootLayout.astro';
---

<style>
  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  section {
    flex: 1;
    min-width: 300px;
  }

  .headshot {
    border-radius: 100%;
  }
</style>

<RootLayout title="sarsfield.io">
  <article>
    <figure>
      <Image src={headshotImage} alt="me hiking" class="headshot" />
    </figure>
    <section>
      <h2>About</h2>
      <p>
        I'm a husband, dad, software engineer, and Vanderbilt alum. I'm
           currently building software in Nashville, TN.
      </p>
      <p>
        <h3>Find me on:</h3>
        <ul>
          <li><a href="https://github.com/parkersarsfield">github</a></li>
          <li>
            <a href="https://www.linkedin.com/in/parker-sarsfield-bb978b118/"
              >linkedin</a
            >
          </li>
        </ul>
      </p>
    </section>
  </article>
</RootLayout>
