---
import RootLayout from '../layouts/RootLayout.astro';

const allPosts = Object.values(
  import.meta.glob('./blog/*.md', { eager: true }),
);

const publishedPosts = allPosts
  .filter(
    // This any typecast gets removed once a content collection is created
    ({ frontmatter }: any) => !frontmatter.draft,
  )
  // This any typecast gets removed once a content collection is created
  .sort((a: any, b: any) =>
    String.prototype.localeCompare(a.frontmatter.date, b.frontmatter.dateb),
  );
---

<style></style>

<RootLayout title="posts">
  <ul>
    {
      publishedPosts.map((post: any) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a> -{' '}
          {post.frontmatter.date}
        </li>
      ))
    }
  </ul>
</RootLayout>
