---
import { Image } from 'astro:assets';
import headshotImage from '../images/headshot.jpeg';
import RootLayout from '../layouts/RootLayout.astro';
---

<style>
  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  section {
    flex: 1;
    min-width: 300px;
  }

  .headshot {
    border-radius: 100%;
  }
</style>

<RootLayout title="sarsfield.io">
  <article>
    <figure>
      <Image src={headshotImage} alt="me hiking" class="headshot" />
    </figure>
    <section>
      <h2>about</h2>
      <p>
        🚧 I'm rebuilding this site in the open, so some content might be
        temporarily missing or broken.
      </p>
      <p>
        I'm a husband, dad, software engineer, and Vanderbilt alum. I'm
        currently building software at Palantir. All thoughts and opinions are
        my own.
      </p>
      <p>
        Find me on:
        <ul>
          <li><a href="https://github.com/parkersarsfield">github</a></li>
          <li>rss [coming soon]</li>
        </ul>
      </p>
    </section>
  </article>
</RootLayout>
